.Content {
    min-height: 30vh;
    padding: 20px;
    background-color: gold;
}

.Form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin-top: 15px;
    grid-row-gap: 10px;
}


button {
    margin-top: 20px;
}