.PostPage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--bg-color);
    color: var(--primary-color);
    font: var(--font-xl);
    min-height: 90vh;

}